services:
    backend:
        image: artempomortsev/backend:latest
        container_name: backend
        networks:
            - app-network
        environment:
            - NODE_ENV=production

    frontend:
        image: artempomortsev/backend:latest
        container_name: frontend
        ports:
            - "80:80"
        networks:
            - app-network
        depends_on:
            - backend

networks:
    app-network:
        driver: bridge
