name: Common Steps

on:
    workflow_call:
        inputs:
            node-version:
                required: true
                type: string

jobs:
    setup-node:
        runs-on: ubuntu-latest
        outputs:
            node-version: ${{ inputs.node-version }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ inputs.node-version }}
